html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/images/Venues_AFL_9x16_Image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgba(0, 0, 0, 0); /* semi-transparent black */
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 80%;
    color: white;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.next-up-table td {
    padding: 0 30px; /* adds horizontal space between table cells */
}

.next-up-table img {
    max-height: 150px;
}

.next-up-table td span {
    display: inline-block;
    margin: 0 30px; /* adds space around the 'vs' text */
}

