body {
    background: #E8E7DC;
    color: #1a3b8d;
    text-align: center;
    font-family: anton;
  }
  
h1 {
    font-family: anton;
    font-weight: bold;
    color: #1a3b8d;
    font-size: 125px;
  }

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: left;
 }

td {
  height: 70px;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 25px;
}
